<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="col-md-8">
  </div>
  <div class="col-md-4">
    <h1>Sign up</h1>

    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>

        <%= f.submit "Create my account", class: "btn btn-default" %>
    <% end %>
  </div>
</div>
